<%= raw render_table_of_contents(@list) %>
<%= raw render_list(@list) %>

<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-bottom justify-content-around mt-2">
  <p><a href="https://github.com/aenglisc">aenglisc</a>, 2018</p>
  <p><a href="#top" class="btn btn-link align-top" role="button" aria-pressed="true">To top ⇡</a></p>
</nav>